.Rproj.user/
.Rdata
*.Rdata
.Rhistory

/*/Figures/
/*/Trace*
/*/*/Trace*

Diversity/
DiversityAnalysis.R
analysis.R
*tryout.R
MinimalWorkingExample/
minimal_working_example.R
Train/

*.drawio*

tmp/
To Do.txt