.Rproj.user/
.Rdata
*.Rdata
.Rhistory

/*/Figures/
/*/Trace*
/*/*/Trace*
depr/
*/depr 
*/*/depr

Diversity/
DiversityAnalysis.R
analysis.R
*tryout.R
MinimalWorkingExample/
minimal_working_example.R
Train/
inst/*
parameters.R

*.drawio*

tmp/
*.txt
*.rtf
*.zip

R/*_depr.R

R/geometry.R
R/move_all.R
predped_in_action*
performance_test*
.vscode/
.DS_Store
RCore/