.Rproj.user/
.Rdata
*.Rdata
.Rhistory

/*/Figures/
depr/
*/depr 
*/*/depr

Diversity/
DiversityAnalysis.R
analysis.R
*tryout.R
MinimalWorkingExample/
minimal_working_example.R
Train/
inst/*
parameters.R
*.R

*.drawio*

tmp/
/*.txt
*.rtf
*.zip
*.pdf
*.out
*.dll
docs/*

R/*_depr.R

R/geometry.R
R/move_all.R
predped_in_action*
performance_test*
.vscode/
.DS_Store
RCore/
demo/*
issues/

social_utilities_alexander/
benchmark.md
tmp*

*.o 
*.so
tests/testthat/data/trace_mll_full.Rds


testing_items/
examples/*